<section class="drops-container relative">
  <DropsComponents.navbar
    current_user={@current_user}
    live_action={@live_action}
    show_user_drops?={@show_user_drops?}
  />

  <section :if={@live_action in [:edit, :new]}>
    <.live_component
      current_user={@current_user}
      drop={@drop}
      id="drops-form"
      live_action={@live_action}
      module={FormComponent}
    />
  </section>

  <section :if={@live_action == :show} class="pt-10 py-4">
    <DropsComponents.drop
      avatar={@drop.user.avatar}
      body={@drop.body}
      created_at={@drop.inserted_at}
      github_username={@drop.user.github_username}
      id={@drop.id}
      timezone_offset={@timezone_offset}
      title={@drop.title}
    />
  </section>

  <section :if={@live_action == :index} class="content-grid text-[#252525] relative">
    <DropsComponents.welcome_message condition={@show_user_drops?} />

    <DropsComponents.user_drops_header
      current_user={@current_user}
      show_user_drops?={@show_user_drops?}
    />

    <div
      id="drops"
      phx-update="stream"
      phx-viewport-top={!@end_of_timeline? && JS.push("prev-page")}
      phx-viewport-bottom={!@end_of_timeline? && JS.push("next-page")}
      phx-page-loading
      class={[
        "grid gap-y-2 md:gap-y-5 py-8"
      ]}
    >
      <div
        :if={@show_user_drops?}
        id="drops-empty"
        class="only:grid hidden text-[#656565] text-lg min-h-[60svh] items-center justify-center"
      >
        <div class="flex flex-col items-center justify-center">
          <p>You haven't created any post yet.</p>
          <.link
            navigate={~p"/drop/new"}
            class="text-[#eae8fd] text-sm bg-blue_primary hover:opacity-80 px-4 md:hidden py-2 mt-2 rounded-lg flex items-center gap-x-2"
          >
            <span><.icon name="hero-plus" class="text-[#eae8fd] h-5 w-5" /></span>
            <span> Create Post</span>
          </.link>
        </div>
      </div>

      <.link
        :for={{dom_id, drop} <- @streams.drops}
        id={dom_id}
        patch={~p"/drops/#{drop.id}"}
        class="last:mb-6"
      >
        <DropsComponents.drop_card
          avatar={drop.user.avatar}
          created_at={drop.inserted_at}
          github_username={drop.user.github_username}
          id={drop.id}
          show_user_drops?={@show_user_drops?}
          timezone_offset={@timezone_offset}
          title={drop.title}
        />
      </.link>
    </div>

    <button
      :if={@new_drops? && !@show_user_drops?}
      class={[
        "text-white text-sm flex items-center justify-center gap-x-1 bg-[#9666d9] hover:opacity-80 rounded-xl mx-auto",
        " mt-2 w-[30%] sm:w-[20%] md:w-[15%] px-1 py-1",
        "absolute left-[50%] top-[14rem] sm:top-[12rem] md:top-[10rem] translate-x-[-50%] z-[1000000]"
      ]}
      id="new-drops-indicator"
      phx-click={JS.push("refresh-drops")}
    >
      <span><.icon name="hero-arrow-up" class="h-4 w-4" /></span>
      <span>New Drops</span>
    </button>
  </section>

  <p
    id="copy-confirm-message"
    class={[
      "hidden text-[#eae8fd] text-xs bg-[#9666d9] rounded-lg drop-shadow-sm px-3 py-3 flex items-center gap-x-1 z-[1000]",
      "fixed bottom-12 left-[50%] translate-x-[-50%] translate-y-[50%]"
    ]}
  >
    <.icon
      name="hero-check-circle-solid bg-[#b2b2b2]"
      class="h-4 w-4 fill-[#eae8fd] bg-[#eae8fd]"
    />
    <span>copied to clipboard</span>
  </p>
</section>

<DropsComponents.cancel_form_popup_message current_user={@current_user} />
<DropsComponents.signin_popup_message />
