APPSIGNAL_APP_ENV=prod
APPSIGNAL_PUSH_API_KEY=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/elixir_drops_prod
GITHUB_CLIENT_ID=Ov23liO8LRoYzGf9ATcN
GITHUB_CLIENT_SECRET=53218b59f3c87bdb94ae11b01c34aedec17d5ad5
PHX_HOST=elixirdrops.net
POOL_SIZE=10
PORT=4000
PRIMARY_REGION=fra
SECRET_KEY_BASE=AhIdQRX1WYEO51l9KrmhwbPQ67kaARInp/AoA9SczSVls6hAIRR3j0zyo+rJd5ee
