export GITHUB_CLIENT_ID=Ov23liO8LRoYzGf9ATcN
export GITHUB_CLIENT_SECRET=53218b59f3c87bdb94ae11b01c34aedec17d5ad5
New boost
export AWS_ACCESS_KEY_ID=tid_idqyGeSEAQbYmHserIrFtEbUgNPkdPBgDthiyUVgAhXmIwPgAl
export AWS_ENDPOINT_URL_S3=https://fly.storage.tigris.dev
export AWS_REGION=auto
export AWS_SECRET_ACCESS_KEY=tsec_ClcQgDDKJIlquko_2tc+bmIQ2ut_VTr3-ICzm1wu+BT4k6AjEym0qHv6qWbDf_4s1ou-DD
export BUCKET_NAME=broken-field-7430