<section class="h-[100vh] flex items-center justify-center bg-gradient-to-r from-[#4c3ddb] via-[#6159be] to-[#818494]">
  <div class="rounded-xl overflow-hidden seo-image">
    <%= @code_block && ElixirDropsWeb.DropComponents.to_html(@code_block) %>
  </div>
</section>
