<section class="drops-container relative h-full w-full">
  <DropComponents.navbar current_user={@current_user} live_action={@live_action} />

  <section :if={@live_action in [:edit, :new]}>
    <.live_component
      current_user={@current_user}
      screenshot_status={@screenshot.status}
      progress_value={@screenshot.progress_value}
      screenshot_url={@screenshot.url}
      drop={@drop}
      screenshot_drop_short_id={@screenshot.drop_short_id}
      id="drops-form"
      live_action={@live_action}
      module={FormComponent}
    />
  </section>

  <section :if={@live_action == :index} class="content-grid text-[#252525] relative user-drops">
    <DropComponents.user_drops_header current_user={@current_user} />

    <DropsListHelper.drops_list
      current_user={@current_user}
      drops={@streams.drops}
      id="user-drops"
      page={@page}
      screenshot_status={@screenshot.status}
      show_user_drops?={true}
    />

    <DropComponents.create_post_button_mobile
      current_user={@current_user}
      class="user-drops-mobile-btn"
    />
  </section>

  <DropComponents.cancel_form_popup_message current_user={@current_user} />

  <DropComponents.copied_link_popup_message />
</section>
