<section class="drops-container relative h-full w-full">
  <DropComponents.navbar current_user={@current_user} live_action={@live_action} />

  <section :if={@live_action in [:edit, :new]}>
    <.live_component
      current_user={@current_user}
      drop={@drop}
      id="drops-form"
      live_action={@live_action}
      module={FormComponent}
    />
  </section>

  <section :if={@live_action == :index} class="content-grid text-[#252525] relative user-drops">
    <DropComponents.user_drops_header current_user={@current_user} />

    <DropsListHelper.drops_list
      drops={@streams.drops}
      end_of_timeline?={@end_of_timeline?}
      id="user-drops"
      show_user_drops?={true}
    />

    <DropComponents.create_post_button_mobile
      current_user={@current_user}
      class="user-drops-mobile-btn"
    />
  </section>

  <DropComponents.cancel_form_popup_message current_user={@current_user} />

  <DropComponents.copied_link_popup_message />
</section>
