<section class="drops-container relative h-full w-full">
  <DropComponents.navbar
    current_user={@current_user}
    live_action={@live_action}
    search_query={@navbar_search_query}
    show_suggestions={@show_suggestions}
    search_suggestions={@search_suggestions}
    show_user_drops?={true}
  />

  <section :if={@live_action in [:edit, :new]}>
    <.live_component
      current_user={@current_user}
      drop={@drop}
      id="drops-form"
      live_action={@live_action}
      module={FormComponent}
    />
  </section>

  <section :if={@live_action == :index} class="text-[#252525] relative user-drops">
    <DropComponents.user_drops_header
      bookmark_tab?={@bookmark_tab?}
      current_user={@current_user}
      search_query={@search_query}
      show_suggestions={@show_profile_suggestions}
      search_suggestions={@profile_search_suggestions}
      show_profile_suggestions={@show_profile_suggestions}
      profile_search_suggestions={@profile_search_suggestions}
    />

    <DropsListHelper.drops_list
      :if={!@bookmark_tab?}
      batch_size={@batch_size}
      current_user={@current_user}
      drops={@streams.drops}
      drops_empty?={@drops_empty?}
      end_of_timeline?={@end_of_timeline?}
      id="user-drops"
      loading_more={@loading_more}
      page={@page}
      search_query={@search_query}
      searching={@searching}
      show_user_drops?={true}
    />

    <div :if={@bookmark_tab?}>
      {live_render(@socket, Bookmarks,
        session: %{
          "batch_size" => @batch_size,
          "current_user" => @current_user,
          "loading_more" => @loading_more,
          "page" => @page,
          "searching" => @searching,
          "show_user_drops?" => true
        },
        id: "bookmarks_liveview",
        sticky: true
      )}
    </div>

    <DropComponents.create_drop_button_mobile
      current_user={@current_user}
      class="user-drops-mobile-btn"
    />
  </section>

  <DropComponents.cancel_form_popup_message current_user={@current_user} />

  <DropComponents.copied_link_popup_message />
</section>
<!-- Mobile Search Overlay -->
<DropComponents.search_overlay_mobile
  search_query={@search_query}
  show_suggestions={@show_profile_suggestions}
  search_suggestions={@profile_search_suggestions}
  current_user={@current_user}
/>
