<section class="pt-10 py-4">
  <DropComponents.drop
    avatar={@drop.user.avatar}
    body={@drop.body}
    created_at={@drop.inserted_at}
    github_username={@drop.user.github_username}
    id={@drop.id}
    timezone_offset={@timezone_offset}
    title={@drop.title}
  />
</section>
