@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* This file is for your main application CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reusable classes for composition */
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 650px;
  --breakout-max-width: 900px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

@media (min-width: 768px) {
  .content-grid {
    --padding-inline: 2rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
  }
}

@media (min-width: 1280px) {
  .content-grid {
    --content-max-width: 1000px;
    --breakout-max-width: 1200px;
  }
}

@media (min-width: 1536px) {
  .content-grid {
    --content-max-width: 1200px;
    --breakout-max-width: 1400px;
  }
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout,
.full-width > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width,
.full-width > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.full-bleed {
  box-shadow: 0 0 0 inherit var(--bg-color);
  clip-path: inset(0 inherit);
}

.shadow-upper {
  box-shadow: 0 -6px 3px -3px #cfced3;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-[500];
}

/* Nav */
.nav-list-border {
  --bg-color: #b2b2b2;

  background: var(--bg-color);
  height: 0.05em;
  width: 100%;
}

/* Markdown Body */
.drop-body hr,
.drop-preview hr {
  @apply block my-2;
}

.drop-body a,
.drop-preview a {
  @apply text-[#5947F1] underline;
}

.drop-body :not(div:has(+ pre)) {
  @apply mb-5;
}

.drop-body div:has(+ pre) {
  @apply mb-0;
}

/* Code Blocks */
.drop-body pre {
  @apply rounded-b-xl;
}

.drop-preview pre {
  @apply rounded-xl;
}

.drop-body pre,
.drop-preview pre {
  @apply text-xs md:text-sm p-4 overflow-x-scroll;
}

.copy-prompt {
  @apply cursor-pointer bg-[#252525] flex items-center justify-end py-1 px-4 rounded-t-xl;
}

.copy-prompt > * {
  @apply h-5 w-5 mt-2;
}

/* Markdown editor form + preview */
.drops-editor {
  --padding-inline: 1rem;

  display: grid;
  grid-template-columns: var(--padding-inline) 1fr var(--padding-inline);
  grid-template-areas:
    '... editor ...'
    '... preview ...'
    'action action action';
  row-gap: 2em;
}

@media (min-width: 1024px) {
  .drops-editor {
    --padding-inline: 1rem;

    display: grid;
    grid-template-columns: var(--padding-inline) repeat(2, 1fr) var(
        --padding-inline
      );
    grid-template-areas:
      '... editor preview ...'
      'action action action action';
    gap: 1.5em;
  }
}

.drops-editor .drop-text-editor {
  grid-area: editor;
}

.drops-editor .drop-preview-container {
  grid-area: preview;
}

.drops-editor .action {
  @apply pr-[1rem] lg:pr-[2rem];
  grid-area: action;
}

.drop-preview > * {
  @apply mb-5;
}

/* opengraph image generator page */
.seo-image img {
  @apply h-[80vh] w-full object-cover;
}

.seo-image pre {
  @apply px-6 py-10 text-sm;
}

